---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=RIvASfXyPDPFymVsvznIGsawxD9mAEKF&location=akls84o%5B)%26%5D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Tue, 27 Apr 2021 15:55:16 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"akls84o[)&]"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A1XAX","geocodeQuality":"COUNTRY","dragPoint":false,"sideOfStreet":"N","linkId":"282934758","unknownInput":"","type":"s","latLng":{"lat":39.390897,"lng":-99.066067},"displayLatLng":{"lat":39.390897,"lng":-99.066067},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=RIvASfXyPDPFymVsvznIGsawxD9mAEKF&type=map&size=225,160&locations=39.390897,-99.066067|marker-sm-50318A-1&scalebar=true&zoom=2&rand=1139975266"}]}]}'
  recorded_at: Tue, 27 Apr 2021 15:55:16 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=5c5fe7d3d9e166cb296f315e26a7eb8d&lat=39.390897&lon=-99.066067
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.3909,"lon":-99.0661,"timezone":"America/Chicago","timezone_offset":-18000,"current":{"dt":1619538917,"sunrise":1619523718,"sunset":1619573127,"temp":293.71,"feels_like":293.31,"pressure":1001,"humidity":57,"dew_point":284.9,"uvi":3.33,"clouds":84,"visibility":10000,"wind_speed":3.13,"wind_deg":260,"wind_gust":6.26,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"minutely":[{"dt":1619538960,"precipitation":0},{"dt":1619539020,"precipitation":0},{"dt":1619539080,"precipitation":0},{"dt":1619539140,"precipitation":0},{"dt":1619539200,"precipitation":0},{"dt":1619539260,"precipitation":0},{"dt":1619539320,"precipitation":0},{"dt":1619539380,"precipitation":0},{"dt":1619539440,"precipitation":0},{"dt":1619539500,"precipitation":0},{"dt":1619539560,"precipitation":0},{"dt":1619539620,"precipitation":0},{"dt":1619539680,"precipitation":0},{"dt":1619539740,"precipitation":0},{"dt":1619539800,"precipitati[...]
[...]
