---
http_interactions:
- request:
    method: get
    uri: https://www.flickr.com/services/rest?api_key=03004ca1ef57038fab5e21968db1fccf&format=json&method=flickr.photos.search&nojsoncallback=1&per_page=1&text=denver,coskyline
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photos":{"page":1,"pages":14,"perpage":1,"total":"14","photo":[{"id":"2710497796","owner":"29032250@N06","secret":"5e651e3c87","server":"3118","farm":4,"title":"Denver
        Marriott City Center: Night Skyline","ispublic":1,"isfriend":0,"isfamily":0}]},"stat":"ok"}'
  recorded_at: Sat, 24 Apr 2021 17:14:38 GMT
- request:
    method: get
    uri: https://www.flickr.com/services/rest?api_key=03004ca1ef57038fab5e21968db1fccf&format=json&method=flickr.photos.getInfo&nojsoncallback=1&photo_id=2710497796
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photo":{"id":"2710497796","secret":"5e651e3c87","server":"3118","farm":4,"dateuploaded":"1217252607","isfavorite":0,"license":"0","safety_level":"0","rotation":0,"originalsecret":"99e0252b7f","originalformat":"jpg","owner":{"nsid":"29032250@N06","username":"Denver_Marriott_City_Center","realname":"","location":"","iconserver":"3273","iconfarm":4,"path_alias":"denvermarriott"},"title":{"_content":"Denver
        Marriott City Center: Night Skyline"},"description":{"_content":"Denver has
        the 10th largest downtown in America, and you can experience <a href=\"http:\/\/www.marriott.com\/dendt\"
        rel=\"noreferrer nofollow\">Denver Marriott City Center<\/a>''s breathtaking
        night skyline view from your hotel room!"},"visibility":{"ispublic":1,"isfriend":0,"isfamily":0},"dates":{"posted":"1217252607","taken":"2008-07-28
        06:43:27","takengranularity":"0","takenunknown":0,"lastupdate":"1455970508"},"views":"4820","editability":{"cancomment":0,"canaddmeta":0},"publiceditability":{"cancomment":1,"canaddmeta":0},"usage":{"candownload":1,"canblog":0,"canprint":0,"canshare":1},"comments":{"_content":"2"},"notes":{"note":[]},"people":{"haspeople":0},"tags":{"tag":[{"id":"28986928-2710497796-4653664","author":"29032250@N06","authorname":"Denver_Marriott_City_Center","raw":"Denver
        hotel","_content":"denverhotel","machine_tag":0},{"id":"28986928-2710497796-8864232","author":"29032250@N06","authorname":"Denver_Marriott_City_Center","raw":"Denver
        hotels","_content":"denverhotels","machine_tag":0},{"id":"28986928-2710497796-12727997","author":"29032250@N06","authorname":"Denver_Marriott_City_Center","raw":"Hotel
        in Denver","_content":"hotelindenver","machine_tag":0},{"id":"28986928-2710497796-8864238","author":"29032250@N06","authorname":"Denver_Marriott_City_Center","raw":"Hotels
        in Denver","_con[...]
