---
http_interactions:
- request:
    method: get
    uri: https://www.flickr.com/services/rest?api_key=03004ca1ef57038fab5e21968db1fccf&format=json&method=flickr.photos.search&nojsoncallback=1&per_page=1&text=kfsmgni948uhnwskyline
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photos":{"page":1,"pages":0,"perpage":1,"total":"0","photo":[]},"stat":"ok"}'
  recorded_at: Tue, 27 Apr 2021 15:22:28 GMT
- request:
    method: get
    uri: https://www.flickr.com/services/rest?api_key=03004ca1ef57038fab5e21968db1fccf&format=json&method=flickr.photos.getInfo&nojsoncallback=1&photo_id=22377206314
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"photo":{"id":"22377206314","secret":"00e0cbc0f4","server":"686","farm":1,"dateuploaded":"1447475168","isfavorite":0,"license":"0","safety_level":"0","rotation":0,"owner":{"nsid":"100994752@N02","username":"(Fieger
        Photography) Captions by Nica...","realname":"Nica","location":"Canada","iconserver":"7349","iconfarm":8,"path_alias":"captions_by_nica"},"title":{"_content":"Weather..."},"description":{"_content":""},"visibility":{"ispublic":1,"isfriend":0,"isfamily":0},"dates":{"posted":"1447475168","taken":"2015-08-06
        03:35:42","takengranularity":"0","takenunknown":"0","lastupdate":"1534348037"},"views":"4054","editability":{"cancomment":0,"canaddmeta":0},"publiceditability":{"cancomment":1,"canaddmeta":0},"usage":{"candownload":0,"canblog":0,"canprint":0,"canshare":0},"comments":{"_content":"52"},"notes":{"note":[]},"people":{"haspeople":0},"tags":{"tag":[{"id":"100974404-22377206314-282","author":"100994752@N02","authorname":"(Fieger
        Photography) Captions by Nica...","raw":"sky","_content":"sky","machine_tag":0},{"id":"100974404-22377206314-223","author":"100994752@N02","authorname":"(Fieger
        Photography) Captions by Nica...","raw":"Sunset","_content":"sunset","machine_tag":0},{"id":"100974404-22377206314-4891","author":"100994752@N02","authorname":"(Fieger
        Photography) Captions by Nica...","raw":"dusk","_content":"dusk","machine_tag":0},{"id":"100974404-22377206314-936","author":"100994752@N02","authorname":"(Fieger
        Photography) Captions by Nica...","raw":"Weather","_content":[...]
