---
http_interactions:
- request:
    method: get
    uri: https://www.flickr.com/services/rest?api_key=03004ca1ef57038fab5e21968db1fccf&format=json&method=flickr.photos.search&nojsoncallback=1&per_page=1&text=skyline
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photos":{"page":1,"pages":120602,"perpage":1,"total":"120602","photo":[{"id":"51142370991","owner":"13472501@N08","secret":"7c1e7627fb","server":"65535","farm":66,"title":"Penarth
        Foot Bridge","ispublic":1,"isfriend":0,"isfamily":0}]},"stat":"ok"}'
  recorded_at: Tue, 27 Apr 2021 16:05:01 GMT
recorded_with: VCR 6.0.0
