---
http_interactions:
- request:
    method: get
    uri: https://www.flickr.com/services/rest?api_key=03004ca1ef57038fab5e21968db1fccf&format=json&method=flickr.photos.search&nojsoncallback=1&per_page=1&text=denver,coskyline
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photos":{"page":1,"pages":14,"perpage":1,"total":"14","photo":[{"id":"2710497796","owner":"29032250@N06","secret":"5e651e3c87","server":"3118","farm":4,"title":"Denver
        Marriott City Center: Night Skyline","ispublic":1,"isfriend":0,"isfamily":0}]},"stat":"ok"}'
  recorded_at: Sat, 24 Apr 2021 17:14:39 GMT
recorded_with: VCR 6.0.0
