---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=RIvASfXyPDPFymVsvznIGsawxD9mAEKF&location=denver
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 26 Apr 2021 16:21:32 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"denver"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=RIvASfXyPDPFymVsvznIGsawxD9mAEKF&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-762471189"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Lancaster
        County","adminArea4Type":"County","adminArea3":"PA","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX"[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=5c5fe7d3d9e166cb296f315e26a7eb8d&lat=39.738453&lon=-104.984853
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1619454087,"sunrise":1619438778,"sunset":1619488125,"temp":293.87,"feels_like":292.21,"pressure":998,"humidity":8,"dew_point":259.99,"uvi":3.91,"clouds":34,"visibility":10000,"wind_speed":0.89,"wind_deg":173,"wind_gust":5.36,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}]},"minutely":[{"dt":1619454120,"precipitation":0},{"dt":1619454180,"precipitation":0},{"dt":1619454240,"precipitation":0},{"dt":1619454300,"precipitation":0},{"dt":1619454360,"precipitation":0},{"dt":1619454420,"precipitation":0},{"dt":1619454480,"precipitation":0},{"dt":1619454540,"precipitation":0},{"dt":1619454600,"precipitation":0},{"dt":1619454660,"precipitation":0},{"dt":1619454720,"precipitation":0},{"dt":1619454780,"precipitation":0},{"dt":1619454840,"precipitation":0},{"dt":1619454900,"precipitation":0},{"dt":1619454960,"precipitati[...]
[...]
- request:
    method: get
    uri: https://api.teleport.org/api/cities/?limit=1&search=denver
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Apiproxy-Cache-Status:
      - EXPIRED
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        eyJfZW1iZWRkZWQiOnsiY2l0eTpzZWFyY2gtcmVzdWx0cyI6W3siX2xpbmtzIjp7ImNpdHk6aXRlbSI6eyJocmVmIjoiaHR0cHM6Ly9hcGkudGVsZXBvcnQub3JnL2FwaS9jaXRpZXMvZ2VvbmFtZWlkOjU0MTkzODQvIn19LCJtYXRjaGluZ19hbHRlcm5hdGVfbmFtZXMiOlt7Im5hbWUiOiJEZW52ZXIifSx7Im5hbWUiOiJEZW52ZXIgQ291bnR5In0seyJuYW1lIjoiRGVudmVyYSJ9LHsibmFtZSI6IkRlbnZlcmVzIn0seyJuYW1lIjoiZGVudmVyaSJ9LHsibmFtZSI6IkRlbnZlcmlzIn0seyJuYW1lIjoiRGVudmVyaXVtIn0seyJuYW1lIjoiRGVud[...]
- request:
    method: get
    uri: https://api.teleport.org/api/cities/geonameid:5419384/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Apiproxy-Cache-Status:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: '{"_links":{"city:admin1_division":{"href":"https://api.teleport.org/api/countries/iso_alpha2:US/admin1_divisions/geonames:CO/","name":"Colorado"},"city:alternate-names":{"href":"https://api.teleport.org/api/cities/geonameid:5419384/alternate_names/"},"city:country":{"href":"https://api.teleport.org/api/countries/iso_alpha2:US/","name":"United
        States"},"city:timezone":{"href":"https://api.teleport.org/api/timezones/iana:America%2FDenver/","name":"America/Denver"},"city:urban_area":{"href":"https://api.teleport.org/api/urban_areas/slug:denver/","name":"Denver"},"curies":[{"href":"https://developers.teleport.org/api/resources/Location/#!/relations/{rel}/","name":"location","templated":true},{"href":"https://developers.teleport.org/api/resources/City/#!/relations/{rel}/","name":"city","templated":true},{"href":"https://developers.teleport.org/api/resources/UrbanArea/#!/relations/{rel}/","name":"ua","templated":true},{"href":"https://developers.teleport.org/api/resources/Country/#!/relations/{rel}/","name":"country","templated":true},{"href":"https://developers.teleport.org/api/resources/Admin1Division/#!/relations/{rel}/","name":"a1","templated":true},{"href":"https://developers.teleport.org/api/resources/Timezone/#!/relations/{rel}/","name":"tz","templated":true}],"self":{"href":"https://api.teleport.org/api/cities/geonameid:5419384/"}},"full_name":"Denver,
        Colorado, United States","geoname_id":5419384,"location":{"geohash":"9xj65423r4mz6gs6up59","latlon":{"latitude":39.73915,"longitude":-104.9847}},"name":"Denver","population":682545}'
  recorded_at: Mon, 26 Apr 2021 16:21:34 GMT
- request:
    method: get
    uri: https://api.teleport.org/api/urban_areas/slug:denver/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Apiproxy-Cache-Status:
      - HIT
    body:
      encoding: ASCII-8BIT
      string: '{"_links":{"curies":[{"href":"https://developers.teleport.org/api/resources/Location/#!/relations/{rel}/","name":"locat[...]
- request:
    method: get
    uri: https://api.teleport.org/api/urban_areas/slug:denver/salaries/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Apiproxy-Cache-Status:
      - HIT
    body:
      encoding: ASCII-8BIT
      string: '{"_links":{"curies":[{"href":"https://developers.teleport.org/api/resources/Location/#!/relations/{rel}/","name":"location","templated":true},{"href":"https://developers.teleport.org/api/resources/City/#!/relations/{rel}/","name":"city","templated":true},{"href":"https://developers.teleport.org/api/resources/UrbanArea/#!/relations/{rel}/","name":"ua","templated":true},{"href":"https://developers.teleport.org/api/resources/Country/#!/relations/{rel}/","name":"country","templated":true},{"href":"https://developers.teleport.org/api/resources/Admin1Division/#!/relations/{rel}/","name":"a1","templated":true},{"href":"https://developers.teleport.org/api/resources/Timezone/#!/relations/{rel}/","name":"tz","templated":true}],"self":{"href":"https://api.teleport.org/api/urban_areas/slug:denver/salaries/"}},"salaries":[{"job":{"id":"ACCOUNT-MANAGER","title":"Account
        Manager"},"salary_percentiles":{"percentile_25":52755.545248860515,"percentile_50":66050.59588847861,"percentile_75":82696.16391306919}},{"job":{"id":"ACCOUNTANT","title":"Accountant"},"salary_percentiles":{"percentile_25":46322.45959499479,"percentile_50":55013.10116503102,"percentile_75":65334.209933035345}},{"job":{"id":"ADMINISTRATIVE-ASSISTANT","title":"Administrative
        Assistant"},"salary_percentiles":{"percentile_25":31245.705520432653,"percentile_50":37629.15344764931,"percentile_75":45316.72963059826}},{"job":{"id":"ARCHITECT","title":"Architect"},"salary_percentiles":{"percentile_25":43470.9633[...]
